PORT=
URI_MONGOOSE=

TOKEN={zhSdimlDUUs!U@aU2MNGgyS8M@!uev0PU%VbBCsxQ49TS0Qc9G0i1j$}

ENCRIPT={f69c45d7c2a59eaa8b9e2d1b7c0e13f64b408ceaeaedb267f13a7912adb98623}

/* Email Password - Account and I will send the email */
EMAIL=
PASS=

EMAILFROM=
LINK={url}/user/redefine/token=