.categoria-select-container {
    margin: 32px 0;
}
.categoria-select-container label {
    margin-right: 8px;
    color: var(--gray);
}
.categoria-select-container select {
    cursor: pointer;
    color: var(--gray);
    border: none;
    border-bottom: 1px solid var(--light-gray);
    border-radius: 2px;
    padding: 8px 8px;
}