.produtos-destaque-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;
}
.produtos-destaque-container h2 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 8px;
}
.produtos-destaque {
    display: flex;
    height: 300px;
    gap: 32px;
}

@media (max-width: 1000px) {
    .produtos-destaque-container {
        width: calc(100% - 32px);
        padding: 0 16px;
    }
    .produtos-destaque-container h2 {
        margin-bottom: 16px;
    }
    .produtos-destaque {
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        gap: 8px;
    }
}