.barra-navegacao {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: var(--blue);
}
.barra-navegacao ul {
    display: flex;
    gap: 24px;
    align-items: center;
    height: 100%; 
}
.barra-navegacao a {
    color: var(--white);
}

@media (max-width: 1000px) {
    .barra-navegacao {
        height: 36px;
    }
    .barra-navegacao li {
        display: none;
    }
    #todos-produtos {
        display: block;
    }
}