.categoria-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.categoria-card a {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 7px;
}
.categoria-card img {
    width: 80%;
}
.categoria-card h2 {
    font-weight: 400;
}