.logo {
    display: flex;
    flex-direction: column;
    width: 90px;
    color: var(--white);
    letter-spacing: -5%;
    font-size: 32px;
    font-weight: 500;  
}
.logo span {
    font-size: 12px;
    font-weight: 300; 
}