nav {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: var(--blue);
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 100%; 
}
nav a {
    color: var(--white);
}