.pagina-admin {
    padding: 32px;
    min-height: calc(var(--view-height) - 64px);
}
.table-container {
    border-radius: 5px;
    border: 1px solid var(--light-gray);
}
.table-container svg {
    cursor: pointer;
    color: var(--gray);
    font-size: 22px;
}
.operacoes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.operacoes-container svg {
    cursor: pointer;
    color: var(--blue);
    font-size: 44px;
}

